body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    position: fixed; /* Dit zorgt ervoor dat het menu bovenaan blijft */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Zorgt ervoor dat het menu boven de afbeelding komt */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333; /* Semi-transparante achtergrond */
    color: white;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
   
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: auto;
}

.links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.logo img {
    width: 60px;
    height: 50px;
}
